@{
    ViewData["Title"] = "Dashboard";
}
@model MessageBoard.Models.MessageBoardWrapper

<h1>This is the Dashboard!</h1>

<form asp-area="" asp-controller="User" asp-action="CreateMessage">
    <label asp-for="Msg.Content">Post a Message</label>
    <textarea type="text" asp-for="Msg.Content"></textarea>
    <button type="submit" >Post</button>
</form>

@foreach (Message message in Model.AllMessages)
{
    <div class="border p-3">
        <p>@message.Content</p>
        <small>@message.Creator.Username</small>
    </div>
}
