/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.error {
    color: red;
}

.error-message {
    color: red;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#myButton {
    color: #fff !important;
    background-color: #37c21b !important;
    border-color: #37c21b !important;
}
.btn-warning {
    color: #fff !important;
    background-color: #ba1bc2 !important;
    border-color: #ba1bc2 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.img-background {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-linear-gradient(
            top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.8)
        ),
        url(https://images.unsplash.com/photo-1614063834786-ed4e611cbce0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)
            no-repeat bottom;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.8)
        ),
        url(https://images.unsplash.com/photo-1614063834786-ed4e611cbce0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)
            no-repeat bottom;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-perspective: 100px;

    perspective: 100px;
}

.img-background:before {
    /* -webkit-animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards; */
    background: -webkit-linear-gradient(
            top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.8)
        ),
        url(https://images.unsplash.com/photo-1614063834786-ed4e611cbce0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)
            no-repeat bottom;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.8)
        ),
        url(https://images.unsplash.com/photo-1614063834786-ed4e611cbce0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)
            no-repeat bottom;
    background-size: cover;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.img-background:after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    content: '';
    height: 40rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 90%;
    -webkit-transform: rotateZ(-4deg);
    transform: rotateZ(-4deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: -1;
}
